body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 280px;
  text-align: center;
  background: rgb(69, 128, 222);
  color: rgba(255, 255, 255, 0.564);
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 60px;
  font-weight: bolder;
}

.header p {
  font-size: 20px;
  font-weight: bold;
}

